/* Styles spécifiques à la page de connexion */
body {
  background-color: #007bff; /* Bleu pour différencier */
}

.auth-container {
  border: 2px solid #0056b3;
}

.auth-container h1 {
  color: white;
}

.auth-container input {
  border: 1px solid #0056b3;
}

.auth-container button {
  background-color: #ffffff;
  color: #0056b3;
}

.auth-container button:hover {
  background-color: #e6e6e6;
  color: #003f7f;
}

.auth-container a {
  color: white;
}

.auth-container a:hover {
  color: #d4d4d4;
}
