/* Styles spécifiques à la page d'inscription */
body {
  background-color: #f39c12; /* Orange pour différencier */
}

.auth-container {
  border: 2px solid #e67e22;
}

.auth-container h1 {
  color: white;
}

.auth-container input {
  border: 1px solid #e67e22;
}

.auth-container button {
  background-color: #ffffff;
  color: #e67e22;
}

.auth-container button:hover {
  background-color: #e6e6e6;
  color: #b35900;
}

.auth-container a {
  color: white;
}

.auth-container a:hover {
  color: #ffe6cc;
}
